@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import '~antd/dist/antd.css';

$generic-box-shadow: 0px 13px 33px #0000000e;
$generic-border: 1px solid #E3E3E3;
$generic-gradient: linear-gradient(90deg, rgba(30,193,150,1) 0%, rgba(30,182,240,1) 35%);

$primary: #28A32A;
$primary-light:#5BBB4C;
$primary-lighter: #C6EF91;
$primary-gradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(1,150,21,1) 0%, rgba(198,239,146,1) 90% );

$secondary: #E41100;
$secondary-light: #FF4401;
$secondary-lighter: #FF5D01;
$seconday-gradient: linear-gradient(90deg, rgba(255,68,1,1) 55%, rgba(255,93,1,1) 100%);

$green-gradient: linear-gradient(to right, #02aab0, #00cdac);

$white: #f9f9f9;

html {
  font-family: 'Rubik', sans-serif;
}